#### IMPORTING LIBRARIES

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%reload_ext autoreload
%autoreload 2

#### IMPORTING SALES DATASET

In [4]:
sales_df = pd.read_excel("./superstore_sales.xlsx")
sales_df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium,2011

#### DATA AUDIT

In [5]:
# df shape
sales_df.shape

(51290, 21)

In [6]:
# df colums
sales_df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [7]:
# dataset summary
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  float64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 8.2+ MB

In [8]:
#checking missing values
sales_df.isnull().sum()
#if nulll values were present
#sales_df[sales_df['col'].isnull()] ---displays  rows x cols Nan

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

In [9]:
#getting descriptive statistics summary
sales_df.describe()

,sales,quantity,discount,profit,shipping_cost,year
count,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,246.490581,3.476545,0.142908,28.641740,26.375818,2012.777208
std,487.565361,2.278766,0.212280,174.424113,57.296810,1.098931
min,0.444000,1.000000,0.000000,-6599.978000,0.002000,2011.000000
25%,30.758625,2.000000,0.000000,0.000000,2.610000,2012.000000
50%,85.053000,3.000000,0.000000,9.240000,7.790000,2013.000000
75%,251.053200,5.000000,0.200000,36.810000,24.450000,2014.000000
max,22638.480000,14.000000,0.850000,8399.976000,933.570000,2014.000000

#### EXPLORATORY DATA ANALYSIS

<H7> WHAT IS THE OVERALL SALES TREND?

In [10]:
sales_df['order_date'].min()

Timestamp('2011-01-01 00:00:00')

In [11]:
sales_df['order_date'].max()

Timestamp('2014-12-31 00:00:00')

In [18]:
# Getting month and year from a dataset
sales_df['month_year'] = sales_df['order_date'].apply(lambda x: x.strftime('%Y - %m'))

In [24]:
# Getting month year trend
df_month_year_trend = sales_df.groupby('month_year').sum()['sales'].reset_index()
df_month_year_trend

   month_year         sales
0   2011 - 01   98898.48886
1   2011 - 02   91152.15698
2   2011 - 03  145729.36736
3   2011 - 04  116915.76418
4   2011 - 05  146747.83610
5   2011 - 06  215207.38022
6   2011 - 07  115510.41912
7   2011 - 08  207581.49122
8   2011 - 09  290214.45534
9   2011 - 10  199071.26404
10  2011 - 11  298496.53752
11  2011 - 12  333925.73460
12  2012 - 01  135780.72024
13  2012 - 02  100510.21698
14  2012 - 03  163076.77116
15  2012 - 04  161052.26952
16  2012 - 05  208364.89124
17  2012 - 06  256175.69842
18  2012 - 07  145236.78512
19  2012 - 08  303142.94238
20  2012 - 09  289389.16564
21  2012 - 10  252939.85020
22  2012 - 11  323512.41690
23  2012 - 12  338256.96660
24  2013 - 01  199185.90738
25  2013 - 02  167239.65040
26  2013 - 03  198594.03012
27  2013 - 04  177821.31684
28  2013 - 05  260498.56470
29  2013 - 06  396519.61190
30  2013 - 07  229928.95200
31  2013 - 08  326488.78936
32  2013 - 09  376619.24568
33  2013 - 10  293406.64288
34  2013 - 11  373989.36010
35  2013 - 12  405454.37802
36  2014 - 01  241268.55566
37  2014 - 02  184837.35556
38  2014 - 03  263100.77262
39  2014 - 04  242771.86130
40  2014 - 05  288401.04614
41  2014 - 06  401814.06310
42  2014 - 07  258705.68048
43  2014 - 08  456619.94236
44  2014 - 09  481157.24370
45  2014 - 10  422766.62916
46  2014 - 11  555279.02700
47  2014 - 12  503143.69348